@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  html, body {
    @apply bg-neutral-50 text-black dark:bg-[#000000] dark:text-white transition-colors duration-300;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: max(16px, env(safe-area-inset-bottom));
  }
}
